@charset "ISO-8859-1";

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/music.jpg') no-repeat center center fixed; 
            
	background-size: cover;
}

form {
    background-color: rgba(173, 216, 230, 0.0);
    border: #FFF solid 1PX;
    padding: 22px;
    padding-top: 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 250px;
}

label {
    margin-bottom: 8px;
    color: #FFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    font-size: 17px;
}

button {
    width: calc(100% - 15px);
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #F14A26;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

h2 {
    color: #FFF;
}

h2:hover {
    color: antiquewhite;
}

button:hover {
    background-color:#c75a12;
    color: antiquewhite;
    font-size: 20px;
}
a{
	margin-top:10px;
	color:#fff;
	font-size:14px;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color:#c75a12;
}


