<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Overview Page</title>
    <link rel="stylesheet" th:href="@{/css/overview.css}" />
</head>
<body>
    <header>
        <div>
            <a href="/" class="logo-link"><img src="logo.png" alt="Logo" height="52"></a>
        </div>
        <div class="navbar">
            <a href="/" class="navbar-link">Home</a>
            <a href="overview" class="navbar-link">Overview</a>
        </div>
        <div class="tuneTitle">
            Tune Hub says Hi!
        </div>
    </header>

    <div class="overview-section">
        <h2>Overview</h2>
        <p>Welcome to Tune Hub, your ultimate destination for music exploration and enjoyment. We offer a vast collection of songs from various genres, allowing you to discover new tunes and revisit your favorites.</p>
        <p>With Tune Hub, you can create personalized playlists, explore curated playlists, and stay up-to-date with the latest releases. Whether you're into pop, rock, hip-hop, or classical, we've got something for everyone.</p>
        <p>Join us on this musical journey and unlock the rhythm of your soul with Tune Hub!</p>
    </div>
</body>
</html>
