<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" th:href=@{/css/passwordReset.css}  />
</head>
<body>
   
    <form action="/resetPassword" method="post" th:object="${passwordResetForm}">
        <h2>Forgot Password</h2>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required th:field="*{email}" />
        </div>
        <div>
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required th:field="*{password}" />
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required th:field="*{confirmPassword}" />
        </div>
        
       <button type="submit">Reset Password</button>
       <a href="login">Don't want to reset? login!</a>
        <p th:if="${passwordMismatch}" style="color: red;">Passwords do not match!</p>
   		<p th:if="${userNotFound}" style="color: red;">User with this email not found!</p>
    
    </form>
    
    <!-- JavaScript to handle success and redirect to login -->
    <script th:if="${success}">
        alert('Password reset successful!');
        window.location.href = '/login'; // Adjust the URL as needed
    </script>
</body>
</html>
